# استبعاد ملفات بايثون المؤقتة
__pycache__/
*.pyc

# استبعاد ملفات وإعدادات النظام
Thumbs.db
Desktop.ini

# استبعاد سكربت التحديث التلقائي نفسه (إذا كنت لا تريد رفعه)
git_repo_updater.py

# استبعاد أي ملف نصي يحتوي على معلومات حساسة
discord.txt
YT - PERFECT 100% (7.2.0)Fixed .JS
YT - PERFECT 100% (7.1.0)Fixed .JS
ترسيت الايقونات.bat
تبديل.py
تشويش.txt
gitignore
*.log